<a href="https://colab.research.google.com/github/Evgeniia1996/repository_one/blob/main/%D0%94%D0%97_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('real-data.csv')

In [ ]:
df.info()

In [41]:
df.describe()

,female_life_expectancy,male_life_expectancy,expected_schooling_female,expected_schooling_male,female_mean_schooling,male_mean_schooling,female_gni_per_capita,male_gni_per_capita,adolescent_birth_rate,female_parliament_seats,female_secondary_education,male_secondary_education,female_labor_force,male_labor_force
count,191.000000,191.000000,187.000000,187.000000,179.000000,179.000000,178.000000,178.000000,191.000000,189.000000,177.000000,177.000000,178.00000,178.000000
mean,74.076440,68.678010,13.770053,13.397326,8.788268,9.323464,14622.404494,24251.865169,44.484817,24.769312,62.706780,67.068362,50.23764,69.900562
std,7.793487,7.608412,3.283023,2.671261,3.489555,2.937305,15826.774673,23875.373787,38.185359,12.466031,29.528487,26.450033,15.71221,8.814937
min,53.100000,50.400000,4.500000,6.600000,1.300000,2.200000,176.000000,797.000000,1.600000,0.000000,6.400000,13.000000,6.00000,43.900000
25%,68.550000,63.200000,11.450000,11.750000,5.800000,6.900000,2894.500000,6121.250000,11.100000,16.500000,37.700000,44.800000,42.47500,65.100000
50%,75.200000,68.400000,14.000000,13.400000,9.700000,9.500000,8128.500000,15953.500000,36.200000,23.600000,69.900000,71.200000,52.15000,69.350000
75%,79.700000,74.150000,16.000000,15.250000,11.700000,11.800000,22631.750000,36503.250000,64.150000,33.600000,90.200000,92.500000,60.37500,75.475000
max,88.300000,83.200000,21.800000,20.300000,13.900000,14.300000,75094.000000,105348.000000,170.500000,55.700000,100.000000,100.000000,83.10000,95.500000

In [ ]:
x=df.duplicated()

In [ ]:
x.describe()

дубликатов нет

In [ ]:
df1 = df.loc[:30]
df1

In [ ]:
df2 = df.loc[31:60]
df2

In [ ]:
result1 = pd.merge(df1, df2, on='female_life_expectancy', how='inner')
result1

In [ ]:
result2 = pd.merge(df1, df2, on='male_labor_force', how='left')
result2

In [22]:
from sklearn.preprocessing import normalize

In [ ]:
normalize_data = normalize(df, norm='max', axis=1)
normalize_df = pd.DataFrame(normalize_data, columns = df.columns)

не смогла провести нормализацию, почему не получается - не понимаю, убирала столбцы со строковыми значениями, все равно не получается

Всего строк 191. Максимальное количество пропусков - 14. Максимальный процент пропусков - 7. Небольшой процент, поэтому просто удалю строки с пустыми значениями.

In [43]:
df.dropna()

,country,female_life_expectancy,male_life_expectancy,expected_schooling_female,expected_schooling_male,female_mean_schooling,male_mean_schooling,female_gni_per_capita,male_gni_per_capita,maternal_mortality_ratio,adolescent_birth_rate,female_parliament_seats,female_secondary_education,male_secondary_education,female_labor_force,male_labor_force,female_to_male_earned_income_ratio
0,Afghanistan,65.3,58.9,7.7,12.7,2.3,3.4,533.0,3089.0,638,82.6,27.2,6.4,14.9,14.8,66.5,17%
1,Albania,79.2,74.1,15.3,13.7,11.7,10.9,11637.0,16630.0,15,14.5,35.7,95.4,93.0,50.7,66.2,70%
2,Algeria,78.0,74.9,15.3,14.0,7.7,8.4,3550.0,17787.0,112,11.7,7.5,46.0,56.9,15.7,64.5,20%
4,Angola,64.3,59.0,11.5,12.9,4.2,6.9,4751.0,6197.0,241,138.4,29.5,28.2,51.5,74.0,79.1,77%
6,Argentina,78.6,72.2,19.2,16.6,11.4,10.9,15581.0,26376.0,39,39.1,44.4,71.0,71.4,50.0,71.6,59%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Venezuela (Bolivarian Republic of),75.2,66.3,13.8,11.8,11.4,10.8,2866.0,6796.0,125,82.7,22.2,79.8,75.4,34.3,67.8,42%
187,Viet Nam,78.2,69.1,13.2,12.7,8.0,8.7,6932.0,8826.0,43,34.6,30.3,61.3,69.6,69.6,79.4,79%
188,Yemen,67.1,60.6,7.7,10.5,2.9,5.1,176.0,2428.0,164,54.4,0.3,22.4,37.5,6.0,67.6,7%
189,Zambia,63.9,58.5,10.9,11.0,7.2,7.2,2615.0,3837.0,213,117.0,15.1,47.1,56.8,69.2,77.8,68%
190,Zimbabwe,62.0,56.2,12.0,12.3,8.3,9.2,3286.0,4397.0,458,94.3,34.6,61.8,72.4,79.3,88.9,75%

После удаления осталось 169 строк